services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cracked-leetcode-bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./messages.json:/app/messages.json
      - ./data:/app/data
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
